<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">

          <a class="nav-link" href="index.html">
            <ul class="nav-logo-list">
              <li class="nav-logo-item">
                <svg class="nav-logo" width="16" height="16">
                  <use href="../img/header-icons.svg#icon-logo-mobile"></use>
                </svg>
              </li>
              <li class="nav-logo-item">
                <svg class="nav-logo-text" width="148" height="12">
                  <use href="../img/header-icons.svg#icon-logo-text-mobile"></use>
                </svg>
              </li>
            </ul>
            
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <svg class="nav-burger-icon" width="32" height="32">
              <use href="../img/header-icons.svg#icon-burger-smoll"></use>
            </svg>
          </a>
        </li>
      </ul>

    </nav>
  </div>
</header>










<!-- <header class="header">
  <div class="container">
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="100" height="30">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./page-2.html">Page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-3.html">Page 3</a>
        </li>
      </ul>
    </nav>
  </div>
</header> -->
